extends layout

block content
    h1= title
    p
        | At the moment making this project, I'm taking a bootcamp from Galvanize.
        br
        | Hope to learn more exciting stuff that I can do with Node and Express.
        br
        | Can't wait to start implementing these skills and combining them with other frameworks.
