extends layout

block content
    h1= title
    p Here is my profile pages in several platforms:
        ul
            li
                a(href='https://www.linkedin.com/in/borisveits/') LinkedIn
            li
                a(href='https://github.com/bveits92') GitHub
            li
                a(href='https://gitlab.com/bveits92') GitLab
            li
                a(href='https://www.facebook.com/b.veits') Facebook
