doctype html
html
  head
    title Welcome to Boris - Express!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/contact-me') Contact
    main
      block title
      block content
    footer
      p &copy; 2023 Boris Veits.
