body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px; /* Optional: Add margin for spacing between items */
}
